<form class="container" [formGroup]="myform">
  <h1>Order your drinks</h1>

  <div class="form-control">
    <label>Your name: </label>
    <input
      type="text"
      placeholder="Your name"
      [maxLength]="5"
      formControlName="name"
    />
  </div>

  <div class="form-control">
    <label>Amount of white wine: </label>
    <app-counter-input
      formControlName="white_wine"
      [min]="10"
      [max]="20"
    ></app-counter-input>
  </div>
  <div class="form-control">
    <label>Amount of red wine: </label>
    <app-counter-input formControlName="red_wine"></app-counter-input>
  </div>
  <div class="form-control">
    <label>Amount of beer: </label>
    <app-number-input formControlName="beer" [maxLength]="5"></app-number-input>
    <div *ngIf="myform.get('beer').errors">
      Name must be at least 4 characters long.
    </div>
  </div>
  <br />
  <label>Info Input: </label>
  <app-info-input
    formControlName="information"
    [maxLength]="10"
    [infoEnabled]="true"
    [infoMessage]="'Test Message'"
    [infoImage]="
      'https://raw.githubusercontent.com/Yummygum/flagpack-core/main/svg/l/IN.svg'
    "
  ></app-info-input>
  <app-info-input
    formControlName="infonew"
    [maxLength]="10"
    [infoEnabled]="true"
    [infoMessage]="'New Test Message'"
    [infoImage]="
      'https://cdn.klea.in/webimages/infoimg.jpg?Content-Disposition=attachment%3B%20filename%3D%22infoimg.jpg%22&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=s3klea%2F20211120%2F%2Fs3%2Faws4_request&X-Amz-Date=20211120T180007Z&X-Amz-Expires=432000&X-Amz-SignedHeaders=host&X-Amz-Signature=ecaaf30a464b3c0654397665af42479910aa6d28f6d0d9b24941a14d0a0bf2b3'
    "
  ></app-info-input>
  <br />

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />

    <br />
    <app-country-selector formControlName="server"></app-country-selector>
  </div>
  <!-- <div class="form-control">
  <button>Place order</button>
</div> -->

  <pre
    >{{ myform.value | json }}
</pre
  >
  <p>Form Value: {{ myform.value | json }}</p>
  <p>Form Valid: {{ myform.valid }}</p>
</form>

<!-- <form #form="ngForm" (ngSubmit)="submit(form.value)">
<counter-input name="counter" ngModel></counter-input>
<button type="submit">Submit</button>
</form> -->
