<form class="container" [formGroup]="form">
  <h1>Order your drinks</h1>

  <div class="form-control">
    <label>Your name: </label>
    <input
      type="text"
      placeholder="Your name"
      [maxLength]="5"
      formControlName="name"
    />
  </div>

  <div class="form-control">
    <label>Amount of white wine: </label>
    <app-counter-input
      formControlName="white_wine"
      [min]="10"
      [max]="20"
    ></app-counter-input>
  </div>
  <div class="form-control">
    <label>Amount of red wine: </label>
    <app-counter-input formControlName="red_wine"></app-counter-input>
  </div>
  <div class="form-control">
    <label>Amount of beer: </label>
    <app-number-input formControlName="beer" [maxLength]="5"></app-number-input>
    <div *ngIf="form.get('beer').errors">
      Name must be at least 4 characters long.
    </div>
  </div>
  <br />
  <label>Info Input: </label>
  <app-info-input
    formControlName="information"
    [maxLength]="10"
    [infoEnabled]="true"
    [infoMessage]="'Test Message'"
    [infoImage]="
      'https://raw.githubusercontent.com/Yummygum/flagpack-core/main/svg/l/IN.svg'
    "
  ></app-info-input>
  <app-info-input
    formControlName="infornew"
    [maxLength]="10"
    [infoEnabled]="true"
    [infoMessage]="'New Test Message'"
    [infoImage]="'assets/img/infoimg.jpg'"
  ></app-info-input>
  <br />
  <div class="logo"></div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input
      type="text"
      class="form-control"
      placeholder="Username"
      aria-label="Username"
      aria-describedby="basic-addon1"
    />

    <br />
    <app-country-selector formControlName="server"></app-country-selector>
  </div>
  <!-- <div class="form-control">
    <button>Place order</button>
  </div> -->

  <pre>
  {{ form.value | json }}
  </pre>
  <p>Form Value: {{ form.value | json }}</p>
  <p>Form Valid: {{ form.valid }}</p>
</form>

<!-- <form #form="ngForm" (ngSubmit)="submit(form.value)">
<counter-input name="counter" ngModel></counter-input>
<button type="submit">Submit</button>
</form> -->
